<h1>What are the Questions?</h1>


<% if @questions.any? %>
    <ol>

    <% @questions.each do |question| %>
        <li><%= question.question.capitalize %></li>
    <% end %>
    
    </ol>
    
<% else %>
    <p>Why no questions?</p>
<% end %>


<%= form_tag("/exit_tickets/#{@exit_ticket.id}/questions") do |f| %>
	<%= label_tag :question %>
  <br>
	<%= text_area_tag :question, nil, size: "50x5" %>
	<br>
  <%= submit_tag "Submit Question" %>
<% end %>
 

<a href="/exit_tickets/<%=@exit_ticket.id%>/responses/new"> Done </a>