<h1 class="headline">Create an Exit Ticket</h1>
<div class="form-wrap">
  <% if @questions.any? %>
    <ol>
      <% @questions.each do |question| %>
        <li class="exit-ticket-list"><%= question.question.capitalize %></li>
      <% end %>
    </ol>  
  <% else %>
      <p class="exit-ticket-list">You haven't created any questions.</p>
  <% end %>

  <%= form_tag("/exit_tickets/#{@exit_ticket.id}/questions") do |f| %>
    <%= text_area_tag :question, nil, {:class => 'question-field', :placeholder =>'Question'}  %>
    <br>
    <%= submit_tag "Submit Question",{:class => "button"} %>
  <% end %>
</div> <!-- .form-wrap -->
 

<a href="/exit_tickets/<%=@exit_ticket.id%>/responses/new"> Done </a>