<h1>What are the Questions?</h1>


<%= @questions.each do |question| %>

	<p><%= question.question %></p>

<% end %>


<%= form_tag "/new_exit_ticket_question" do %>
	<%= label_tag :question %>
	<%= text_field_tag :question %>
	<%= submit_tag "Submit Question" %>
<%= end %>


<button href="/somewhere***********">Done</button>