<h1 class= "title"> Exit Ticket App </h1>

<h3>Login:</h3> 
<%= form_tag "/login" do %>
  <%=label_tag :instructor %>:
  <%= radio_button_tag "role", "instructor"%>
  <%= label_tag :student %>:
  <%= radio_button_tag "role", "student" %>
  <%= label_tag :producer %>:
  <%= radio_button_tag "role", "producer" %>
  <br>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "Log In" %>
<% end %>

<h3> Or Register as a </h3>
<h3> <%= link_to "Create a New Instructor", "/register_instructor" %> </h3>
<h3> <%= link_to "Create a New Student", "/register_student" %></h3>
<h3> <%= link_to "New Producer", "/register_producer" %> </h3>




