<h1> General Assembly </h1>
<h2> Exit Ticket App </h2>


<h2>Login as an Instructor</h2>
<%= form_tag "/login_instructor" do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "Log In" %>
<% end %>


<h2>Login as a Student</h2> 
<%= form_tag "/login_student" do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "Log In" %>
<% end %>


<h2>Login as a Producer</h2>
<%= form_tag "/login_producer" do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "Log In" %>
<% end %>


<h3> Or Register as a

<%= link_to "New Student", "/register_student" %>

or

<%= link_to "New Producer", "/register_producer" %>

or 

<%= link_to "New Instructor", "/register_instructor" %>

</h3>