<div class="cohort-show-page">
  <div class="wrapper">
    <div class="grid-5-5">
      <div class="cohort-name">
      <h1>Welcome to <%= @cohort.name %></h1>
      </div>
    </div>
    <div class="grid-2-5">
      <div class="cohort-instructors">
        <%= image_tag("instructors.png", :alt => "Instructors", :class => "instructors-img") %>
        <h2>INSTRUCTORS</h2>
          <% if @instructor %>
          <p><%= @instructor.first_name %> <%= @instructor.last_name %>:
          <a href="mailto:<%=@instructor.email%>"><%= @instructor.email %></a></p>
          <% else %>
          <p>This course doesn't have an instructor yet! </p>
          <% end %>
      </div>
      <div class="cohort-producers">
        <%= image_tag("producers.png", :alt => "Producers", :class => "producers-img") %>
        <h2>PRODUCERS</h2>
          <% if @producer %>
          <p><%= @producer.first_name%> <%= @producer.last_name%>: 
          <a href="mailto:<%=@producer.email%>"><%=@producer.email%></a></p>
          <% else %>
          <p>This course doesn't have a producer yet! </p>
          <% end %>
      </div>
    </div>
    <div class="grid-2-5">
      <div class="cohort-students">
        <%= image_tag("students.png", :alt => "Students", :class => "students-img") %>
        <h2>STUDENTS</h2>
          <% if @students %>
          <% @students.each do |student| %>
          <div class="student-names">
            <p><%= student.first_name %> <%= student.last_name %>:
              <a href="mailto:<%= student.email %>"><%= student.email %></a></p>
              <% end %>
              <% else %>
              <p>This course doesn't have any students yet.</p>
            <% end %>
          </div>
      </div>
    </div>
    <div class="grid-1-5">
      <div class"create-exit-ticket">
      <div class="WDI">
       <h1>WDI</h1>
      </div>
      <h3>New York, NY</h3>
        <% if current_instructor %>
            <div class="create-button">
              <a href="/instructors/<%= @instructor.id %>/cohorts/<%= @cohort.id %>/exit_tickets/new">CREATE EXIT TICKET</a>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
