<h2> Welcome <%=@instructor.first_name %>! </h2>

<% @instructor.cohorts.each do |cohort| %>

  <p><a href="/instructors/<%=@instructor.id%>/cohorts/<%=cohort.id%>"> <%= cohort.name %> </a> </p>

<% end %>

<a href="/instructor/<%= @instructor.id %>/cohort/new">Create a new Cohort</a>

