<div class="response-index-page">
  <div class="wrapper">
    <div class="grid-5-5">
      <div class="date-of-ticket">
        <h1> Student Responses from <br> 
        <%= @exit_ticket.pretty_time %></h1>
      </div>
    </div>
    <div class="grid-5-5">
      <div class="response-names">
        <div class="list-names">
          <h3>SELECT STUDENT:</h3>
            <% @responses.each do |response| %>
             <p><a href="/students/<%=response.student_id%>/responses/<%=response.id%>"><%= response.student.first_name.capitalize %> <%= response.student.last_name.capitalize %></a></p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>