<h3>Here is your Exit Ticket!</h3>
 

<%=form_tag "/exit_tickets/#{@exit_ticket.id}/responses" do %>
  <% @questions.reorder("id, ASC") %>
  <% @questions.each do |question|%>

  	<% if Response.find_by(question_id: question.id) %>
      <% response = Response.find_by(question_id: question.id) %>
  		<br>
    	<%=label_tag%> <%=question.question.capitalize%>
   		<%=label_tag %> <%= response %>
  	<% else %>
    	<br>
    	<%=label_tag%> <%=question.question.capitalize%>
    	<br>
    	<%= text_area_tag :response, nil, size: "50x5" %>
    	<br>
    	<%= hidden_field_tag "question_id", "#{question.id}" %>
  		<%=submit_tag "Submit Response" %>
  	<% end %> <!-- if/else -->
  <% end %> <!-- .each -->
<% end %> <!-- form -->

<!-- This might need to be separate forms for each question's response rather than one form for all the responses because we dont have routes for responses/new we have routes for responses/response_id/new....so that would mean separate forms/submit buttons for each question/response pair-->

<!-- Might have to do something where we redirect_to the same page with each new question of the exit ticket on at a time with an if/else that says elsif @response.last with a final done button that redirects to the student's cohort page  -->