<h1> <%= @student.first_name %>'s Responses to <%= @exit_ticket.date %>'s Exit Ticket </h1>

<ol>
	<% @responses.each do |response| %>
	  <li><strong> <%=response.question.question.capitalize%> </strong>	
	  <br>
	  <%= response.response.capitalize %>
	  </li>
	<% end %>
</ol>

<a href="/students/<%=@student.id%>/responses">Back</a>