<h1 class="headline"> Producer Registration </h1>

<div class="login">
  <%= form_tag("/producers", method: "post") do %>
    <div class="credentials">
      <br>
      <div class="new-name">
        <%= text_field_tag :first_name, nil, {:class => 'text-field half-field', :placeholder =>'First Name'} %>
        <%= text_field_tag :last_name, nil, {:class => 'text-field half-field', :placeholder =>'Last Name'} %>
      </div> <!-- .new-name -->
      <br>
      <%= text_field_tag :email, nil, {:class => 'text-field', :placeholder =>'Email'} %>
      <br>
      <%= password_field_tag :password, nil, {:class => 'text-field', :placeholder =>'Password'} %>
      <br>
      <%= password_field_tag :password_confirmation, nil, {:class => 'text-field', :placeholder =>'Password Confirmation'} %>
      <br>
      <%= submit_tag "Register", {:class => "button login-btn"} %>
    <% end %>
  </div> <!-- .credentials -->
  <span class="back-to-signup"> <span> Have an Account? </span> <%= link_to "Log In", "/" %></span>
</div> <!-- .login -->